# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDEs and editors
.idea/
.vscode/

# Local development settings
.env

# Logs and databases
*.log

# DB files
db-data/