ENV=dev
CORS_ORIGIN=*
ORIGIN_DEFAULT=<URL>

AWS_ACCESS_KEY=<HASH>
AWS_SECRET_KEY=<HASH>
AWS_SESSION_TOKEN=<TOKEN>

DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_NAME=postgres

URL=localhost:8000
