ENV=dev
CORS_ORIGIN=*
ORIGIN_DEFAULT=localhost

AWS_ACCESS_KEY=<HASH>
AWS_SECRET_KEY=<HASH>
AWS_SESSION_TOKEN=<TOKEN>

#postgresql
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=FIAP
POSTGRES_HOST=gestao-postgresql
#POSTGRES_PORT="5432"

#python
HOST_API=localhost
PORT_API=8000